aiocryptopay
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argcomplete
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
emoji
fake-useragent
frozenlist
googletrans
gTTS
h11
h2
hpack
httpcore
httpx
hyperframe
idna
magic-filter
maturin
multidict
nest-asyncio
outcome
packaging
pillow
pipx
platformdirs
propcache
proxy
pyaes
pyasn1
pybase64
pycryptodome
pydantic
pydantic_core
pyfiglet
PySocks
pyTelegramBotAPI
python-telegram-bot
qrcode
requests
rsa
selenium
setuptools
sniffio
socks
sortedcontainers
soupsieve
StrEnum
telebot
telegraph
Telethon
termcolor
trio
trio-websocket
typing-inspection
typing_extensions
undetected-chromedriver
urllib3
userpath
websocket-client
websockets
wheel
wsproto
yarl
